.idea/
target/
tmp/

*/dependency-reduced-pom.xml

# AI
.bob
.claude

# Mac OS
.DS_Store

# JBang dev config file(s), commands, etc
*-dev.json
*.txt

# Project
service/dependency-reduced-pom.xml
.moderne
CLAUDE.md