name: "CI - Release"

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.vars.outputs.VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: 'maven'

      - name: Configure git user and email
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "Github Action"

      - name: Set the maven version to the release version
        run: |
          VERSION=${{ github.event.inputs.version }}
          git checkout -b release-$VERSION
          ./mvnw -ntp -B versions:set versions:commit -DnewVersion=$VERSION

      - name: Build the uber-jar and run jreleaser
        run: |
          mvn -ntp -B clean install -Dquarkus.package.type=uber-jar
          mvn -ntp -B jreleaser:full-release
        env:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update jbang-catalog.json
        run: |
            VERSION=${{ github.event.inputs.version }}
            RELEASE_URL="https://github.com/${{ github.repository }}/releases/download/v$VERSION/rewrite-standalone-cli-$VERSION-runner.jar"
            echo "Updating catalog with new URL: ${RELEASE_URL}"
            jq --arg url "$RELEASE_URL" '.aliases.openrewrite["script-ref"] = $url' jbang-catalog.json > temp.json && mv temp.json jbang-catalog.json

      - name: Commit and Push the changes
        run: |
          VERSION=${{ github.event.inputs.version }}
          git add .
          git commit -m "release: ${VERSION} and catalog update"
          git push origin release-$VERSION
          sleep 2

      - name: Create Pull Request
        run: |
          gh pr create \
            --title "Release $VERSION" \
            --body "Automated release PR" \
            --base main \
            --head release-$VERSION
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: JReleaser output
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jreleaser-release
          path: |
            target/jreleaser/trace.log
            target/jreleaser/output.properties