name: "CI - Release"

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version'
        required: true

permissions:
  contents: write

jobs:
  precheck:
    name: Precheck
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.vars.outputs.VERSION }}
      NEW_SHA: ${{ steps.vars.outputs.NEW_SHA }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure Maven settings
        run: |
          mkdir -p ~/.m2
          cat > ~/.m2/settings.xml <<'EOF'
          <settings>
            <mirrors>
              <mirror>
                <id>central-mirror</id>
                <name>Central Mirror</name>
                <url>https://repo1.maven.org/maven2</url>
                <mirrorOf>central</mirrorOf>
              </mirror>
            </mirrors>
          </settings>
          EOF

      - name: Configure git user and email
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "Github Action"

      - name: Bump the maven version and push
        id: vars
        shell: bash
        run: |
          VERSION=${{ github.event.inputs.version }}
          ./mvnw -ntp -B versions:set versions:commit -DnewVersion=$VERSION
          git commit -a -m "Releasing version $VERSION"
          git push origin main
          echo "NEW_SHA=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

  build-release:
    needs: [ precheck ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ needs.precheck.outputs.NEW_SHA }}
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: 'maven'

      - name: Configure git user and email
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "Github Action"

      - name: Configure Maven settings
        run: |
             mkdir -p ~/.m2
             cat > ~/.m2/settings.xml <<'EOF'
             <settings>
               <mirrors>
                 <mirror>
                   <id>central-mirror</id>
                   <name>Central Mirror</name>
                   <url>https://repo1.maven.org/maven2</url>
                   <mirrorOf>central</mirrorOf>
                 </mirror>
               </mirrors>
             </settings>
             EOF

      - name: Build the uber-jar
        run: |
          mvn -ntp -B clean install -Dquarkus.package.type=uber-jar
          mvn -ntp -B jreleaser:full-release
        env:
          JRELEASER_PROJECT_VERSION: ${{ needs.precheck.outputs.VERSION }}
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update jbang-catalog.json
        run: |
            TAG="${{ needs.precheck.outputs.VERSION }}"
            JAR_NAME=$(basename target/rewrite-standalone-cli-$TAG-runner.jar)
            NEW_URL="https://github.com/${{ github.repository }}/releases/download/v${TAG}/${JAR_NAME}"
      
            echo "Updating catalog with new URL: ${NEW_URL}"
            jq --arg url "$NEW_URL" '.aliases.openrewrite["script-ref"] = $url' jbang-catalog.json > temp.json && mv temp.json jbang-catalog.json

      - name: Commit and Push Catalog Changes
        run: |
          git add jbang-catalog.json
          git diff --quiet && git diff --staged --quiet || git commit -m "chore: Update jBang catalog for release ${TAG}"
          git push origin HEAD:main

      - name: JReleaser output
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jreleaser-release
          path: |
            target/jreleaser/trace.log
            target/jreleaser/output.properties